# Dependencies
node_modules/

# Test Outputs & Reports
reports/
allure-results/
allure-report/
.tmp/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local

# Operating System & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
